body {
    font-family: $primaryFont;
    font-size: 15px;
    line-height: 1.628;
    position: relative;
}
ul {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}
img {
    vertical-align: baseline;
    width: 100%;
    height: auto;
}
a:focus, textArea:focus, input:focus {
    outline: none;
}
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}
input {
    -webkit-appearance: none;
}
.clearfix {
    clear: both;
}
